header{
    background: url(../images/Baraka_NyuAd.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}
@media screen and (max-width: 670px) {
    header{
        min-height: 500px;
    }
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    z-index: -1; /* Place the particles behind other elements */
}

/* css/style.css */

/* css/style.css */

.glow {
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.7),   /* Blue color with 70% opacity */
                0 0 40px rgba(0, 0, 255, 0.6),   /* Blue color with 60% opacity */
                0 0 50px rgba(0, 0, 255, 0.5),   /* Blue color with 50% opacity */
                0 0 60px rgba(0, 0, 255, 0.4),   /* Blue color with 40% opacity */
                0 0 70px rgba(0, 0, 255, 0.3);   /* Blue color with 30% opacity */
}
